.footer {
  $selector: 'footer';

  .#{$selector}__ministries {
    background: $c-grey--opaque;
    padding-bottom: 1rem;
    text-align: center;

    &__selector {
      border: none;
      box-shadow: 0px 0px 2px rgba(50,50,50,0.2);
      cursor: pointer;
      padding-bottom: .2em;
      font-size: 1rem;
    }
  }

  .#{$selector}__inner {
    background: $c-accent--blue;
    color: $c-white;
    padding: 1rem;

    a {
      color: $c-white;
    }

    .#{$selector}__nav{
      margin: 2rem auto 5rem;

      &__tree {
        @extend .list-unstyled;
      }

      &__tree-name {
        color: $c-white;
        font-size: 1.17em;
        font-weight: bold;
        margin: .5em 0;
        text-transform: uppercase;
      }

      &__link,
      &__link a {
        color: $c-white--opaque;
        margin-bottom: .7em;
        text-transform: uppercase;

        &:hover {
          color: $c-white;
        }
      }

      &__link {
        font-size: .9rem;
      }
    }

    .#{$selector}__final {
      .#{$selector}__badges {
        margin-bottom: 1.3rem;
        text-align: center;

        &__logos {
          display: inline
        }

        .footer-logo {
          margin: 0 1.6rem;
          width: 70px;
        }
      }

      .#{$selector}__copy {
        text-align: center;

        a {
          text-decoration: underline;
        }

        .#{$selector}-info {
          font-size: (13rem / 16);
        }
      }
    }
  }
}
