.ministery {
  color: $c-grey--darker;
  display: block;
  margin-bottom: .9em;
  text-align: center;
  word-wrap: break-word;

  &__name {
    color: $c-grey--darker;
    display: block;
    font-weight: normal;
  }

  &__link {
    color: $c-primary--ligth--opaque;
    font-weight: bold;
  }
}
