.ministery {
  display: block;
  color: $c-grey--darker;
  text-align: center;
  margin-bottom: 0.9em;
  &__name {
    color: $c-grey--darker;
    display: block;
    font-weight: normal;
  }

  &__link {
    color: $c-primary--ligth--opaque;
    font-weight: bold;
  }
}
