.section-container {
  @include section-container(true);
  margin: 0 auto;
}

.section {
  $selector: 'section';
  background: $c-white;
  padding: 1rem;

  &.#{$selector}--container {
    @include section-container(true);
    margin: 0 auto;
  }

  &.#{$selector}--page-title {
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &.#{$selector}-background {
    background: $c-primary;
    color: $c-white;

    &.#{$selector}-background--light {
      background: $c-primary--ligth;
    }

    &.#{$selector}-background--dark {
      background: $c-primary--hovered;
    }

    .#{$selector}__title {
      color: $c-white;
    }
  }

  & &__header {
    @extend .mb-3;
    align-items: center;
    border-bottom: 1px solid $c-grey--opaque;
    display: flex;
    justify-content: space-between;
    padding: .5rem;

    .#{$selector}__title {
      margin: 0;
    }
  }

  .#{$selector}__title {
    color: $c-primary--ligth;
    font-weight: bold;
    margin: .8em 0;
    text-transform: uppercase;

    &.#{$selector}__title--center {
      text-align: center;
    }
  }
}
