.slider {
  $selector: 'slider';
  position: relative;
  width: 100%;

  .#{$selector}__container {
    width: 100%;
    &.#{$selector}__container--multi {
      .slide {
        padding: 0 .5rem;
      }
    }
  }

  &:hover {
    .#{$selector}__control {
      opacity: 1;
    }
  }
  .slide {
    display: block;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
    &.slide--has-caption {
      .slide__caption {
        display: block;
        font-size: 1.4em;
        margin: 0;
        padding: .4em;
        text-align: center;
        background: $c-primary--ligth;
        color: white;
      }
    }
  }
  .#{$selector}__control {
    background: $c-accent;
    border: 0;
    color: $c-white;
    font-size: 2.4rem;
    height: 1em;
    opacity: .4;
    outline: none;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    transition: opacity 350ms ease;
    vertical-align: middle;
    width: 1em;
    z-index: 9999;

    &:hover,
    &:active,
    &:visited {
      text-decoration: none;
    }

    .icon {
      display: block;
    }

    &.#{$selector}__control--forward {
      right: .5rem;
    }
    &.#{$selector}__control--backward {
      left: .5rem;
    }
  }
}
