$enable-print-styles: false; // We don't need this styles for now
$c-primary: #003463; // Deep Blue
$c-primary--dark: #012234;
$c-primary--hovered: #002a4f;
$c-primary--opaque: rgba($c-primary, .7);
$c-primary--ligth: #0078b7; // Light Blue
$c-primary--ligth--opaque: rgba($c-primary--ligth, .8); // Light Blue
$c-accent: #d6193f; // Red
$c-accent--dark: darken($c-accent, 20); // Red
$c-accent--blue: #1c485f;
$c-white: #fff;
$c-white--opaque: rgba($c-white, .7);
$c-grey: #828385; // Dark Grey
$c-grey--darker: darken($c-grey, 20);
$c-grey--opaque: rgba($c-grey, .3); // Dark Grey
$c-grey--light: #f5f5f5;
$c-text: #292b2c; // Bootstrap Black Text
$c-text--opaque: rgba($c-text, .3);

$g-container-w: (1240rem / 16);
