$enable-print-styles: false; // We don't need this styles for now

$c-primary: #003463; // Deep Blue
$c-primary--ligth: #0078b7; // Light Blue
$c-accent: #d6193f; // Red
$c-white: #fff;
$c-white--opaque: rgba($c-white, .7);
$c-grey: #828385; // Dark Grey
$c-grey--light: #f5f5f5;
$c-text: #292b2c; // Bootstrap Black Text
$c-text--opaque: rgba($c-text, .3);
