$enable-print-styles: false; // We don't need this styles for now

$c__primary: #003463; // Deep Blue
$c__primary--ligth: #0078B7; // Light Blue
$c__accent: #D6193F; // Red
$c__grey: #828385; // Dark Grey